@charset "UTF";

/*MEDIAS QUERIES*/

/* Typical Device Breakpoints
-----------------------------   
Pequenas telas: 320px até 480px

celular: de 600px até 768px
tablet: de 768px até 992px
desktop: de 1025px até 1280px

Grandes telas: acima de 1280px
*/


@media print { /*para impressora*/
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 1px solid black;
    }
    main > h1 {
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*para tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg    );
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1280px) { /*para desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg    );
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1280px){ /*para grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg    );
    }    

    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}

