@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(202, 202, 202);
}

header {
    background-color: rgb(173, 173, 173);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: rgb(49, 49, 49);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none; /esconde o menu/
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a  {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    color: white;
    border: 1px solid rgb(128, 128, 128);
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    max-width: 700px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 40px;
}